body {
    background-image: url(Images/mainback.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0; 
    height: 100vh; 
}


.search {
    text-align: center;
}

.search form {
    margin-left: 42%;
}

form input{
    width: 40%;
    height: 3%;
    border: 0;
    outline: none;
    background-color: rgb(211, 210, 210);
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px ;
    border-radius: 6px;
}
 form button{
    
    width: 10%;
    height: 3%;
    border: 0;
    outline: none;
    border:2px solid white;
    background-color: transparent;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px ;
    border-radius: 6px;
 }
 form button:hover{
    background-color: grey;
    color:white;
 }
 .pages{
    margin-left: 30%;
 }
 .pagebtn{
    
  display: inline-block;
  padding: 20px 20PX;
  border: 2px solid white; 
  color: black;
  background-color: transparent;
  border-radius: 5px;
  text-decoration: none;
  transition: border-color 0.5s; 
  transition: transform 0.3s ease
 }